.category-container {
	margin: 20px;
}

.events-container {
	display: flex;
	flex-wrap: wrap;
}

.empty-events {
	background-color: #197560;
	width: 280px;
	height: 60px;
	display: -ms-flexbox;
	display: flex;
	color: white;
	margin: 20px;
    padding-left: 20px;
	align-items: center;
	font-weight: 400;
    font-size: 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 5px 5px 10px 1px;
	box-shadow: rgba(0, 0, 0, 0.75) 5px 5px 10px 1px;
}
